<main class="profile-page">
  <div class="position-relative">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>

    </div>
    <br>
    <br>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-1  text-white">Edit Your CV</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2000 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>

    </div>
  </section>
  </div>

  <section style="width:  70% ; margin-left : 10%">

    <h4 class="text-black" >Your actual Courses</h4>
    <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="open(content)" >Add New Course to your CV</a>
    <br> <br>
    <div class="table-responsive">
      <table class="table align-items-center table-flush" >
        <thead class="thead-light">
        <tr>
          <th scope="col">Diploma </th>
          <th scope="col">Institution</th>
          <th scope="col">Start Date </th>
          <th scope="col">End Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngFor=" let c of Course ">
        <tr >
          <td>{{c.diploma}}</td>
          <td>{{c.institution}}</td>
          <td>{{c.startDate}}</td>
          <td>{{c.endDate}}</td>
          <td><button  type="button" class="btn btn-outline-danger" >Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <h4 class="text-black">Your actual Professional Experiences</h4>
    <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="open1(content1)" >Add New Professional Experience to your CV</a>
   <br> <br>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
          <th scope="col">Description </th>
          <th scope="col">Company</th>
          <th scope="col">Place</th>
          <th scope="col">Start Date </th>
          <th scope="col">End Date</th>
          <th scope="col"></th>

        </tr>
        </thead>
        <tbody *ngFor=" let c of ProfExp " >
        <tr>
          <td>{{c.description}}</td>
          <td>{{c.company}}</td>
          <td>{{c.place}}</td>
          <td>{{c.startDate}}</td>
          <td>{{c.endDate}}</td>
          <td><button  type="button" class="btn btn-outline-danger" >Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <h4 class="text-black">Your actual Certifications</h4>
    <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="open2(content2)" >Update Certifications to your CV</a>
    <br> <br>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
          <th scope="col">Certifications </th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody  >
        <tr>

          <td>{{DetailsCandidates.certifications}}</td>

        </tr>
        </tbody>
      </table>
    </div>
    <h4 class="text-black">Your actual Hobbies and Activities</h4>
    <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="open3(content3)" >Update Hobbies and Activities to your CV</a>
    <br> <br>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
          <th scope="col">Hobbies and Activities </th>
         </tr>
        </thead>
        <tbody  >
        <tr>
          <td>{{DetailsCandidates.activities}}</td>


        </tr>
        </tbody>
      </table>
    </div>
    <h4 class="text-black">Your actual Skills</h4>
    <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="open4(content4)" >Add New Skill to your CV</a>
    <br> <br>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
          <th scope="col">Skills  </th>


        </tr>
        </thead>
        <tbody *ngFor=" let s of skill " >
        <tr>
          <td>{{s.type}} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <br>
  <br>
  <br>
</main>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="container">
      <div class="row">
      <h4 class="mb-1">Want to add Courses?</h4>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
    </div>
  </div>
  <div class="modal-body">

    <p class="mt-0">Your courses are very important to us.</p>
      <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-ruler-pencil"></i></span>
          </div>
          <input class="form-control"  placeholder="Diploma" [(ngModel)]="DetailsCourse.diploma" name="diploma" type="text"  (focus)="focus=true" (blur)="focus=false">
        </div>
      </div>
      <div class="form-group" [ngClass]="{'focused':focus1===true}">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input class="form-control" placeholder="Institution" type="text" [(ngModel)]="DetailsCourse.institution" name="institution" (focus)="focus1=true" (blur)="focus1=false">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
          </div>
          <input class="form-control datepicker" placeholder="Select a start date" [(ngModel)]="DetailsCourse.startDate" name="startDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" type="text" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
          </div>
          <input class="form-control datepicker" placeholder="Select an end date" [(ngModel)]="DetailsCourse.endDate" name="endDate" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" type="text"/>
        </div>
      </div>

    </div>
    <br>




  <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-round btn-block btn-lg" (click)="AddCourse()">Add Course to your CV</button>

  </div>


</ng-template>
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="container">
      <div class="row">
        <h4 class="mb-1">Want to add Professional Experiences?</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <p class="mt-0">Your Career is very important to us.</p>
    <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
      <div class="form-group mb-4">
        <textarea class="form-control form-control-alternative" [(ngModel)]="DetailsProfExp.description" name="description" rows="4" cols="80" placeholder="Type a description...."></textarea>
      </div>
      <div class="input-group input-group-alternative">

        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-bag-17"></i></span>
        </div>
        <input class="form-control" placeholder="Company" [(ngModel)]="DetailsProfExp.company" name="company" type="text" >
      </div>
    </div>

    <div class="form-group" [ngClass]="{'focused':focus11===true}">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
        </div>
        <input class="form-control" placeholder="Place" type="text" [(ngModel)]="DetailsProfExp.place" name="place" (focus0)="focus11=true" (blur)="focus11=false">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
        </div>
        <input class="form-control datepicker" placeholder="Select a start date" [(ngModel)]="DetailsProfExp.startDate" name="startDate" ngbDatepicker #d3="ngbDatepicker" (click)="d3.toggle()" type="text" />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
        </div>
        <input class="form-control datepicker" placeholder="Select an end date" [(ngModel)]="DetailsProfExp.endDate" name="endDate" ngbDatepicker #d4="ngbDatepicker" (click)="d4.toggle()" type="text"/>
      </div>
    </div>


  </div>
 <div class="modal-footer">
    <button type="button" class="btn btn-default btn-round btn-block btn-lg" (click)="AddProfExp()">Add Professional Experiences to your CV</button>

  </div>


</ng-template>
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="container">
      <div class="row">
        <h4 class="mb-1">Want to add Certifications?</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group mb-4">
      <textarea class="form-control form-control-alternative"rows="4" cols="80" [(ngModel)]="DetailsCandidate.certifications" name="certification"  placeholder="Type a description...."></textarea>
    </div>


  </div>
  <div class="modal-footer">

      <button type="button" class="btn btn-success btn-round btn-block btn-lg" (click)="addCertification()">Add Certifications to your CV</button>

  </div>


</ng-template>
<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="container">
      <div class="row">
        <h4 class="mb-1">Want to add Activities?</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group mb-4">
      <textarea class="form-control form-control-alternative" [(ngModel)]="DetailsCandidate.activity"  name="activity" rows="4" cols="80" placeholder="Type a description...."></textarea>
    </div>


  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-danger btn-round btn-block btn-lg" (click)="addActivity()" >Add </button>

  </div>


</ng-template>
<ng-template #content4 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="container">
      <div class="row">
        <h4 class="mb-1">Want to add a new Skill?</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group mb-4">
      <select [(ngModel)]="selectedValue">
        <option *ngFor="let c of Skills" [ngValue]="c">{{c.type}}</option>
      </select>
    </div>


  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-info btn-round btn-block btn-lg" (click)="addSkill()">Add Skill</button>

  </div>


</ng-template>
