
<div *ngIf="!admins()">
  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-10">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <mat-card class="assistance">
    <h1>Espace Assistance</h1>
    </mat-card>
      <mat-card class="holder" >
      <div class="_5htp">
        <div class=" _50f6 _50f7"><h3>Bienvenue, Firas&nbsp;!</h3>
        </div>
        <div class="_5htq  _50f9  _2iem" role="heading" aria-level="4"><h5>Dans l’Espace Assistance, vous pouvez&nbsp;:</h5>
      </div>
        <ol>
          <p>
          <li>
          <div class="_5htr _50f8  _2iem" role="heading" aria-level="4">suivre l’évolution de votre signalement&nbsp;;</div>
        </li>
          <li>
            <div class="_5htr _50f8  _2iem" role="heading" aria-level="4">consulter et répondre aux messages de l’équipe d’assistance&nbsp;;
            </div>
          </li>
          <li>
            <div class="_5htr _50f8  _2iem" role="heading" aria-level="4">afficher les messages importants de votre compte.
            </div>
          </li>
          </p>
        </ol>
      </div>
      </mat-card>
    <mat-card class="cardholder">
    <mat-accordion multi="true" *ngIf="userclaims.length > 0 && !isLoading">
      <mat-expansion-panel *ngFor="let claim of userclaims">
        <mat-expansion-panel-header>
          {{ claim.sujet }} | {{claim.etat}}
        </mat-expansion-panel-header>
        <div class="post-image" *ngIf="claim.image" >
          <img [src]="'./assets/img/claims/'+claim.image" [alt]="claim.sujet">
        </div>
        <p>{{ claim.message }}</p>
        <hr>
        <p>{{claim.reponse}}</p>
        <mat-action-row>
          <button mat-button color="warn">SUPPRIMER</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    </mat-card>

    <p class="info-text mat-body-1" *ngIf="userclaims.length <= 0 && !isLoading">No posts added yet!</p>
<mat-spinner *ngIf="isLoading"></mat-spinner>

    </main>
</div>

<!--SUPER_ADMIN-->
<div *ngIf="admins()">
  <br>
  <h1>List des reclamation</h1>
  <br><br>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Sujet Column -->
      <ng-container matColumnDef="sujet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Sujet</b>  </th>
        <td mat-cell *matCellDef="let row"> {{row.sujet}} </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Message</b> </th>
        <td mat-cell *matCellDef="let row"> <div style="height:20px;width: 250px; overflow:hidden">{{row.message}}</div> </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Date</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Etat</b>  </th>
        <td mat-cell *matCellDef="let row"> {{row.etat}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Action</b> </th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="primary" (click)="reclamationDialog(row)">Repondre</button>
          <button mat-button color="warn" (click)="delete()">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>
