<main>
    <div class=" position-relative">
        <!-- shape Hero -->
        <section class=" section section-shaped ">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="display-3  text-white">Affect Question
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>

        </section>
        <!-- 1st Hero Variation -->
    </div>

    <div class="container custom-container-2">
        <br>
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
            <ngb-tab title="Not Affected Question">
                <ng-template ngbTabContent>
                    <div class="form-group" [ngClass]="{'focused': focus===true}">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i> <label class="custom-toggle"><input type="radio" #chekedfor name="radio2"   (click)="chekedfor.value='Q'; thisInputM.value='';"><span class="custom-toggle-slider rounded-circle"></span></label></span>
                            </div>
                            <input class="form-control" placeholder="Search By Question" type="text" #thisInputQ (keyup)="searchQ(thisInputQ.value)" [disabled]="chekedfor.value != 'Q' ">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i> <label class="custom-toggle"><input type="radio" #chekedfor name="radio2" (click)="chekedfor.value='M' ; thisInputQ.value='';"><span class="custom-toggle-slider rounded-circle"></span></label></span>
                            </div>
                            <input class="form-control" placeholder="Search By Module" type="text" #thisInputM (keyup)="searchM(thisInputM.value)"  [disabled]="chekedfor.value != 'M'">
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr style="text-align: center">
                            <th scope="col">Question</th>
                            <th scope="col">Module</th>
                            <th scope="col">Time</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let Quest of listNotAffect | paginate: { itemsPerPage: 10, currentPage: p1 }">
                            <td>{{Quest.question}}</td>
                            <td style="text-align: center">{{Quest.module}}</td>
                            <td style="text-align: center">{{Quest.estimated_Time}}</td>
                            <td style="text-align: center"><a href="javascript:void(0)" class="btn btn-link text-info"
                                                              (click)="affect(Quest.id)">Affect</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ngb-pagination [collectionSize]="px1*10" [(page)]="p1" (pageChange)="p1 = $event"
                                        aria-label="Default pagination">
                            <ng-template ngbPaginationPrevious><i class="fa fa-angle-left"></i></ng-template>
                            <ng-template ngbPaginationNext><i class="fa fa-angle-right"></i></ng-template>
                        </ngb-pagination>
                    </nav>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Affected Question">
                <ng-template ngbTabContent>
                    <p>Time for this Test: {{time}} minute &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-1 btn-outline-primary" routerLink="/AddQuestion/{{cid}}/{{otid}}" type="button">
                            Add Question For Test
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-1 btn-outline-success" (click)="affecttesttocandidate()" type="button">
                            Affect Test To Candidate
                        </button>

                    </p>
                    <table class="table table-bordered">
                        <thead>
                        <tr style="text-align: center">
                            <th scope="col">question</th>
                            <th scope="col">Module</th>
                            <th scope="col">Time</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let Quest of listAffect | paginate: { itemsPerPage: 10, currentPage: p2 }">
                            <td>{{Quest.question}}</td>
                            <td style="text-align: center">{{Quest.module}}</td>
                            <td style="text-align: center">{{Quest.estimated_Time}}</td>
                            <td style="text-align: center"><a href="javascript:void(0)"
                                                              class="btn btn-link text-warning"
                                                              (click)="unaffect(Quest.id)">Remove</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ngb-pagination [collectionSize]="px2*10" [(page)]="p2" (pageChange)="p2 = $event"
                                        aria-label="Default pagination">
                            <ng-template ngbPaginationPrevious><i class="fa fa-angle-left"></i></ng-template>
                            <ng-template ngbPaginationNext><i class="fa fa-angle-right"></i></ng-template>
                        </ngb-pagination>
                    </nav>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>

</main>
