<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">


      <span></span>
    </div>
    <br><br>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-1  text-white">Search for contacts </h1>
          </div>
        </div>
      </div>
    </div>
    <br><br><br> <br><br><br> <br><br><br>

    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>

    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-5">
          <div >
            <br>

            <div  class="form-group"><div  class="input-group input-group-alternative mb-4"><div  class="input-group-prepend"><span  class="input-group-text"><i  class="ni ni-zoom-split-in"></i></span></div><input  #input class="form-control" placeholder="Search" type="text" (keyup)="getCandidates(input.value)" ></div></div>

            <div class="row"  >
              <div  class="col-sm-3 col-6"  *ngFor=" let C of Candidates " >

                <a class="d-block text-uppercase font-weight-bold mb-4"  routerLink="/user-profile/{{C.id}}/Contacts">  {{C.first_Name}} {{C.last_Name}}</a>
                <img  alt="Circle image" class="img-fluid rounded-circle shadow" src="./assets/img/profile/{{C.image}}" style="width: 150px;">
                <br><br>
                <button class="btn btn-sm btn-info" type="button" (click)="SendFriendRequest(pop,C.id)" id="Send" >Send Friend Request </button>
              </div>
            </div>
            <br> <br>
          </div>


        </div>
      </div>

    </div>


  </section>
</main>
<ng-template #pop let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="container">
      <div class="row">
        <h4 class="mb-1">Your Friend Request has been sent !</h4>
        <h4 class="mb-1">Success </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button  type="button"  (click)="close()" class="btn btn-warning my-4"  >Done </button>

  </div>


</ng-template>
