
      <h3>Signaler un problème</h3>
      <mat-card>
        <form [formGroup]="form" (submit)="add()">
          <mat-form-field>
            <mat-label>Où est le problème ?</mat-label>
            <mat-select formControlName="sujet" >
              <mat-option>--</mat-option>
              <mat-option value="Probleme avec le paiement">
                Problème avec le paiement
              </mat-option>
              <mat-option  value="Quelque chose ne fonctionne pas">
                Quelque chose ne fonctionne pas
              </mat-option>
              <mat-option  value="Contenu abusif">
                Contenu abusif
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('sujet').invalid">Indiquer le type de l'erreur</mat-error>
            <mat-hint>Indiquer le type de l'erreur</mat-hint>
          </mat-form-field>

          <div *ngIf="form.get('sujet').valid">
            <mat-form-field>
      <textarea
              placeholder="Expliquez brièvement le problème et les étapes que nous pouvons suivre pour le reproduire..."
              matInput
              rows="4"
              formControlName="message"
              ></textarea>
              <mat-error *ngIf="form.get('message').invalid">Rédiger votre reclamation</mat-error>
            </mat-form-field>
              <mat-checkbox [(ngModel)]="checked" (change)="imgChecked()">Importer une capture d'ecran</mat-checkbox>
            <div *ngIf="checked">
              <button mat-stroked-button type="button" (click)="filePicker.click()">Importer une capture d'ecran</button>
              <input type="file" #filePicker (change)="onImagePicked($event)">
            </div>
            <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
              <img [src]="imagePreview" [alt]="form.value.title">
            </div>
              <br>
            <button
                    mat-raised-button
                    color="accent"
                    type="submit">Envoyer</button>
          </div>
        </form>
      </mat-card>

