<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped ">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="display-3  text-white">Test start on your mark good luck</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>

        </section>
        <!-- 1st Hero Variation -->
    </div>
    <br>


    <div class="container">
        <button *ngIf="!starq" align="center" class="btn btn-lg btn-outline-success" type="button"
                (click)="startest()">
            Start Test
        </button>
        <div class="card bg-gradient-secondary shadow" *ngIf="starq">


            <div class="card-body p-lg-5">
                <h6 class="mb-1" align="center">Time : {{quest.estimated_Time}} minute</h6>
                <h4 class="mb-1">Question : <br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{quest.question}}</h4>

                <h6 class="mb-1 " align="center" style="color: darkred">More than one responce could be correct</h6>
                <div class="col-lg-3 col-md-6">
                    <div class="custom-control custom-checkbox mb-3" *ngFor="let Resp of listResponces;  index as i;">
                        <input class="custom-control-input" id="customCheck{{i}}" type="checkbox" (click)="onboxcheck(Resp.id)">
                        <label class="custom-control-label" for="customCheck{{i}}">
                            <span>{{Resp.reponce}}</span>
                        </label>
                    </div>
                </div>


                <button *ngIf="listQuestion.length!==0" class="btn  btn-primary" type="button"
                        (click)="nextques()">
                    NEXT Quest
                </button>
                <button *ngIf="listQuestion.length===0" class="btn  btn-success" type="button" (click)="endtest()">
                    End Test
                </button>
            </div>
        </div>
    </div>
</main>



