<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/argon-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/OnlineTest']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text navbar-brand">OnlineTest</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/OnlineTest']" class="dropdown-item ">OnlineTests</a>
            <a [routerLink]="['/Question']" class="dropdown-item">Questions</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/Applications']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text navbar-brand">Applications</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/Applications']" class="dropdown-item ">All Application</a>
          </div>
        </li>

        <li class="nav-item ">
          <a class="nav-link no-caret">
            <i class="ni ni-collection d-lg-none"></i>
            <a routerLink="/ResultExamen/5" class="navbar-brand">test candidate</a>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link no-caret">
            <i class="ni ni-collection d-lg-none"></i>
            <a routerLink="/AvaibilityUser/5" class="navbar-brand">Avaibility</a>
          </a>
        </li>


      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="!authService.isLoggedIn()">
          <a [routerLink]="['/login']" class="btn btn-success">
            <span class="btn-inner--icon">
              <i class="fa fa-sign-in mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="!authService.isLoggedIn()">
          <a [routerLink]="['/register']" class="btn btn-white">
            <span class="btn-inner--icon">
              <i class="fa fa-user-plus mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Register</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="authService.isLoggedIn()">
            <a [routerLink]="['/user-profile']" class="btn btn-white">
              <span class="btn-inner--icon">
                <i class="fa fa-user mr-2"></i>
              </span>
              <span class="nav-link-inner--text">Profile</span>
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
