
<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/argon-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">


        <li class="nav-item " *ngIf="authService.isLoggedIn()" >
          <a class="nav-link no-caret">
            <i class="ni ni-collection d-lg-none"></i>
            <a [routerLink]="['/Jobs']" class="navbar-brand">Jobs</a>
          </a>
        </li>
        <li _ngcontent-c1="" class="nav-item dropdown"  *ngIf="authService.isLoggedIn()" >
          <a _ngcontent-c1="" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i _ngcontent-c1="" class="ni ni-collection d-lg-none"></i>
            <span _ngcontent-c1="" class="nav-link-inner--text">Dashboard</span></a>
          <div _ngcontent-c1="" class="dropdown-menu">
            <a _ngcontent-c1="" class="dropdown-item"  [routerLink]="['/Stat']"  >Consult My statistics Dashboard  </a>
            <a _ngcontent-c1="" class="dropdown-item"  [routerLink]="['/MyApplication']"  >My Applications</a>
          </div>
        </li>
        <li _ngcontent-c1="" class="nav-item dropdown"  *ngIf="authService.isLoggedIn()" >
          <a _ngcontent-c1="" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i _ngcontent-c1="" class="ni ni-collection d-lg-none"></i>
            <span _ngcontent-c1="" class="nav-link-inner--text">Friends</span></a>
          <div _ngcontent-c1="" class="dropdown-menu">
            <a _ngcontent-c1="" class="dropdown-item"  [routerLink]="['/Friends']"  >Search for Contacts </a>

          </div>
        </li>
        <li _ngcontent-c1="" class="nav-item dropdown"  *ngIf="authService.isLoggedIn()">
          <a _ngcontent-c1="" class="nav-link no-caret" data-toggle="dropdown" role="button" >
            <mat-icon matBadge="{{FriendsRequest.length}}" matBadgeColor="warn">email</mat-icon>
            <span _ngcontent-c1="" class="nav-link-inner--text"></span></a>
            <div _ngcontent-c1="" class="dropdown-menu"
                 >
              <a ngcontent-c1="" class="dropdown-item"  *ngIf="FriendsRequest.length === 0 "  > You dont have Friends Requests</a>
              <a _ngcontent-c1="" class="dropdown-item"   *ngFor=" let F of FriendsRequest" routerLink="/user-profile/{{F.id}}"  >{{F.first_Name}} {{F.last_Name}} want to be your friend   <a id="Accept" href="javascript:void(0)" class="badge badge-success" (click)="AcceptFriend(F.id ,authService.getUserID())">Accept</a> <a id="Reject" href="javascript:void(0)" class="badge badge-danger" (click)="RejectFriend(F.id,authService.getUserID())">Reject</a></a>

            </div>
        </li>

        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">

    </span>
      </ul>


      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="!authService.isLoggedIn()">
          <a [routerLink]="['/login']" class="btn btn-success">
            <span class="btn-inner--icon">
              <i class="fa fa-sign-in mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="!authService.isLoggedIn()">
          <a [routerLink]="['/register']" class="btn btn-white">
            <span class="btn-inner--icon">
              <i class="fa fa-user-plus mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Register</span>
          </a>
        </li>

        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="authService.isLoggedIn()">
            <a routerLink="/user-profile/{{authService.getUserID()}}" class="btn btn-white">
              <span class="btn-inner--icon">
                <i class="fa fa-user mr-2"></i>
              </span>
              <span class="nav-link-inner--text" >Profile</span>
            </a>
          </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="authService.isLoggedIn()">
          <a class="btn btn-white">
              <span class="btn-inner--icon">
                <i class=" ni ni-curved-next"></i>
              </span>
            <span class="nav-link-inner--text" (click)="logout()" > Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
