<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="alert alert-secondary alert-dismissible fade show text-center" role="alert">
                <span><strong>Who are you ?</strong></span>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="success">
                  <strong>Success!</strong> Your account has been created , check your email !
              </div>
              <div class="row justify-content-center">
                <div class="custom-control custom-radio mb-3 col-sm-6 col-6 text-center">
                  <input name="custom-radio-2" class="custom-control-input" id="company" checked="" type="radio" />
                  <label class="custom-control-label" for="company" (click)="changeForm(false)">Company</label>
                </div>
                <div class="custom-control custom-radio mb-3 col-sm-6 col-6 text-center">
                  <input name="custom-radio-2" class="custom-control-input" id="employee" type="radio" />
                  <label class="custom-control-label" for="employee" (click)="changeForm(true)">Employee</label>
                </div>
              </div>

              <form role="form" [formGroup]="employeeForm" (ngSubmit)="registerAdmin()" *ngIf="!formActive">
                <div class="form-group " [ngClass]="{ focused: focus1 === true , 'has-success':employeeForm.controls.first_Name.valid , 'has-danger':employeeForm.controls.first_Name.invalid && ( employeeForm.controls.first_Name.touched && employeeForm.controls.first_Name.dirty ) }">
                  <div class="input-group input-group-alternative" >
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-address-book"></i></span>
                    </div>
                    <input class="form-control" formControlName="first_Name" placeholder="First Name" type="text"
                      (focus)="focus1 = true" (blur)="focus1 = false" />
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ focused: focus2 === true , 'has-success':employeeForm.controls.last_Name.valid , 'has-danger':employeeForm.controls.last_Name.invalid && ( employeeForm.controls.last_Name.touched && employeeForm.controls.last_Name.dirty ) }">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-address-book-o"></i></span>
                    </div>
                    <input class="form-control" formControlName="last_Name" placeholder="Last Name" type="text"
                      (focus)="focus2 = true" (blur)="focus2 = false" />
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ focused: focus3 === true , 'has-success':employeeForm.controls.email.valid , 'has-danger':employeeForm.controls.email.invalid && ( employeeForm.controls.email.touched && employeeForm.controls.email.dirty )}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" formControlName="email" placeholder="Email" type="Email"
                      (focus)="focus3 = true" (blur)="focus3 = false" />
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ focused: focus === true , 'has-success':employeeForm.controls.password.valid , 'has-danger':employeeForm.controls.password.invalid && ( employeeForm.controls.password.touched && employeeForm.controls.password.dirty ) }">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" formControlName="password" placeholder="Password" type="password"
                      (focus)="focus = true" (blur)="focus = false" />
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-primary my-4" type="submit">
                    Sign up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>