<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped ">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="display-3  text-white">Avaibility Table</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>


        </section>
        <!-- 1st Hero Variation -->
    </div>

    <div class="container custom-container-2">
        <br>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr style="text-align: center" align=" center">
                <th scope="col" rowspan="2" align=" center" style="vertical-align: middle">Date</th>
                <th scope="col" colspan="3" align=" center">Period</th>
            </tr>
            <tr align=" center">
                <th scope="col">8 --> 10</th>
                <th scope="col">10 --> 12</th>
                <th scope="col">14 --> 16</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor=" let a of Listava | paginate: { itemsPerPage: 15, currentPage: p }" align=" center">
                <td *ngIf="a.start_hour == 8" >{{a.date}}</td>
                <td *ngIf="a.start_hour == 8" ><app-suitforavauser [uid]="userID" [date]="a.date" [starthour]="8" [utype]="typeu"></app-suitforavauser></td>
                <td *ngIf="a.start_hour == 8"><app-suitforavauser [uid]="userID" [date]="a.date" [starthour]="10" [utype]="typeu"></app-suitforavauser></td>
                <td *ngIf="a.start_hour == 8"><app-suitforavauser [uid]="userID" [date]="a.date" [starthour]="2" [utype]="typeu"></app-suitforavauser></td>
            </tr>

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ngb-pagination [collectionSize]="px*10" [(page)]="p" (pageChange)="p = $event"
                            aria-label="Default pagination">
                <ng-template ngbPaginationPrevious><i class="fa fa-angle-left"></i></ng-template>
                <ng-template ngbPaginationNext><i class="fa fa-angle-right"></i></ng-template>
            </ngb-pagination>
        </nav>
    </div>
</main>
