<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">

    <div class="container" *ngIf="DetailsCandidate!= null">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/User.jpeg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="open(content)" >My curriculum vitae</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right " [routerLink]="['/EditCV']" >Edit My CV </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">89</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{DetailsCandidate.first_Name}} {{DetailsCandidate.last_Name }}
              <span class="font-weight-light">, {{DetailsCandidate.age}}</span>
            </h3>

            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{DetailsCandidate.post}}</div>

          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>{{DetailsCandidate.profilIntro}}</p>
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-10"> <img  src="./assets/img/icons/common/CV.svg" height="50" width="50">
          <h4 id="modal-basic-title" class="text-primary text-uppercase" >{{DetailsCandidate.last_Name}} {{DetailsCandidate.first_Name}} </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7"> <h6> @Email: {{DetailsCandidate.email}}</h6></div>
        <div class="col-sm-7"> <h6 > Phone Number: {{DetailsCandidate.phoneNumber}}</h6></div>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="container">
      <div class="row">
        <div class="col-sm-1"> <img  src="./assets/img/icons/common/courses.png" height="30" width="30" ></div>
        <div class="col-sm-10"><h4 class="text-warning text-uppercase" >Courses</h4></div>
        <br>
        <div *ngFor=" let C of Course " class="col-lg-4"  >
          <div class="card card-lift--hover shadow border-0">
            <div class="card-body py-5">
              <h6 class="text-warning text-uppercase">{{C.diploma}}</h6>
              <p class="description mt-3">{{C.institution}}</p>
              <div>
                <span class="badge badge-pill badge-warning">{{C.startDate}}</span>
                <span class="badge badge-pill badge-warning">{{C.endDate}}</span>

              </div>
            </div>
          </div>
        </div>


      </div>
      <br>
      <div class="row">
        <div class="col-sm-1"><img  src="./assets/img/icons/common/profexp.png" height="25" width="25"></div>
        <div class="col-sm-10"> <h4 class="text-primary text-uppercase" >Professional Experiences </h4></div>
        <div class="col-lg-4" *ngFor=" let P of ProfExp " >
          <div class="card card-lift--hover shadow border-0">
            <div class="card-body py-5">
              <div>
                <span class="badge badge-pill badge-primary">{{P.startDate}}</span>
                <span class="badge badge-pill badge-primary">{{P.endDate}}</span>
              </div>
              <h6 class="text-primary text-uppercase">{{P.description}}</h6>
                  <p class="description mt-3">{{P.company}}</p>
              <span class="badge badge-pill badge-primary">{{P.place}}</span>

            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-1">  <img  src="./assets/img/icons/common/cartifications.png" height="40" width="40"></div>
        <div class="col-sm-10"> <h4  class="text-success text-uppercase" >Certifications</h4>
          <p>{{DetailsCandidate.certifications}}</p></div>

      </div>
      <br>
      <div class="row">
        <div class="col-sm-1"><img  src="./assets/img/icons/common/skills.png" height="40" width="40"></div>
        <div class="col-sm-10"><h4 class="text-warning text-uppercase" >Skills</h4></div>
        <ul  *ngFor=" let s of skill ">
          <li>
          <span class="badge badge-pill badge-warning">{{s.type}}</span>
          </li>
        </ul>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-1"> <img  src="./assets/img/icons/common/hobbies.png" height="40" width="40"></div>
        <div class="col-sm-10"><h4>Hobbies And Activities</h4>
          <p>{{DetailsCandidate.activities}}</p></div>

      </div>
    </div>


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Done</button>
  </div>
</ng-template>
