<div class="modal-content">
  <div class="modal-body p-0">
    <div class="card bg-secondary shadow border-0">
      <div class="card-body px-lg-5 py-lg-5">
        <div class="alert alert-secondary alert-dismissible fade show text-center" role="alert">
          <span><strong>Job Detail</strong></span>
        </div>
        <div class="text-center">
            <button class="btn btn-primary my-4" type="submit">
              Apply Now
            </button>
          </div>
      </div>
    </div>
  </div>
</div>