<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-shaped ">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Online Test Information
              </h1>
              <button class="btn btn-1 btn-neutral" routerLink="/ViewTest/{{otid}}" type="button">
                Back
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>

    </section>
    <!-- 1st Hero Variation -->
  </div>
  <div class="container custom-container-2">

    <div  class="row py-3 align-items-center">
      <div  class="col-sm-3">
        <small  class="text-uppercase text-muted font-weight-bold">Question : </small>
      </div>
      <div  class="col-sm-9">
        <h3  class="mb-0">&emsp;{{quest.question}}</h3>
      </div>
    </div>
    <div  class="row py-3 align-items-center">
      <div  class="col-sm-3">
        <small  class="text-uppercase text-muted font-weight-bold">Module : </small>
      </div>
      <div  class="col-sm-9">
        <h3  class="mb-0">&emsp;{{quest.module}}</h3>
      </div>
    </div>
    <div  class="row py-3 align-items-center">
      <div  class="col-sm-3">
        <small  class="text-uppercase text-muted font-weight-bold">Estimated Time  : </small>
      </div>
      <div  class="col-sm-9">
        <h3  class="mb-0">&emsp;{{quest.estimated_Time}}</h3>
      </div>
    </div>


        <table class="table table-bordered">
          <thead>
          <tr style="text-align: center">
            <th scope="col">reponce</th>
            <th scope="col">IsValid</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let Resp of listResponces | paginate: { itemsPerPage: 10, currentPage: p }">
            <td >{{Resp.reponce}}</td>
            <td style="text-align: center">
              <app-view-resp-isval  [rid]="Resp.id" ></app-view-resp-isval>
            </td>
          </tr>
          </tbody>
        </table>




        <nav aria-label="Page navigation example">
          <ngb-pagination [collectionSize]="px*10" [(page)]="p" (pageChange)="p = $event" aria-label="Default pagination">
            <ng-template ngbPaginationPrevious><i class="fa fa-angle-left"></i></ng-template>
            <ng-template ngbPaginationNext><i class="fa fa-angle-right"></i></ng-template>
          </ngb-pagination>
        </nav>
      </div>



</main>
